.todo-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-page-main h2 {
  margin-bottom: 40px;
}

.todo-page-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-description,
.todo-state {
  margin-bottom: 30px;
  border: 2px solid #bfe6dd;
  border-radius: 20px;
  padding: 10px;
}

.todo-description h3,
.todo-state h3 {
  margin-bottom: 10px;
}
